body {
  margin: 0;
  margin-top: 5px;
  background: #fff url(media/bg.jpg) fixed top center repeat-x;
}

* {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
}

#header {
  padding-left: 10px;
  height: 100px;
}

#app-title, #logo-link {
  float: left;
}

#app-title {
  margin-top: 20px;
}

#logo-link {
  margin-top: 5px;
}

#app-title a {
  text-decoration: none;
}

#app-title span {
  margin-left: 10px;
  color: #666;
  font-size: 21px;
  text-decoration: none;
}

#app-subtitle {
  margin-left: 10px;
  font-size: 17px;
  color: #003380;
}

#side-menu {
  width: 180px;
  margin-right: 0;
}

#side-menu form {
  margin-bottom: 10px;
}

#side-menu select,input[type=text] {
  display: block;
  width: 90%;
}

#main-content {
  width: 740px;
  padding: 5px;
  background: #fff;
}

#nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-links li {
  margin: 0;
  padding: 0;
}

#nav-links li a {
  padding: 5px;
  padding-left: 10px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  background: #ccc url(media/nav-link-bg.png) top left repeat-x;
}

#nav-links li a:hover {
  text-decoration: underline;
  background: #fff url(media/nav-link-bg-hover.png) top left repeat-x;
}

#nav-links li.nav-links-header a {
  padding: 5px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
}

.nav-links-header a {
  color: #000;
}

#info-box {
  background: #8effbb;
  border: 1px solid #00ab44;
  padding: 3px;
  margin-bottom: 3px;
}

#info-box .error {
  font-weight: bold;
  color: red;
  font-size: 120%;
}

#info-box .info {
  color: #003380;
  font-size: 120%;
}

#login-form {
  padding: 5px;
  background: #ccc;
  width: 98%;
}

#login-form label {
  font-weight: bold;
  color: #003380;
  font-size: 110%;
}

#simple-search {
  border: 1px solid #999;
  padding: 5px;
  background: #ccc;
}

#simple-search input {
  display: inline;
}

#simple-search #simple-keywords {
  width: 80%;
}

#map-canvas {
  border: 1px dotted #ccc;
}

#footer {
  border: 1px solid #999;
  padding: 5px;
  margin-top: 5px;
  width: 920px;
}

/*
 * Tabs CSS
 * Primary menu tabs
 */

div.tabs
{
  margin: 0 auto;
}

.tabs-list
{
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(media/tab-bar.png) repeat-x left bottom;
  float: left;
  width: 100%;
}

.tabs-list li
{
  float: left;
  margin: 0;
  padding: 0;
}

.tabs-list li a
{
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  background: url(media/tab-left-new.gif) no-repeat left -38px;
}

.tabs-list li a span
{
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(media/tab-right-new.gif) no-repeat right -38px;
  cursor: pointer;
  color: #003380;
}

.tabs-list li a:hover
{
  border-width: 0;
  background-color: transparent;
  background: url(media/tab-left-new.gif) no-repeat left -76px;
}

.tabs-list li a:hover span
{
  color: #000;
  background: url(media/tab-right-new.gif) no-repeat right -76px;
}

.tabs-list li a:active, .tabs-list li a:hover
{
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(media/tab-left-new.gif) no-repeat left 0;
}

.tabs-list li a:active span, .tabs-list li a:hover span
{
  background: url(media/tab-right-new.gif) no-repeat right 0;
}


/* IE */

.tabs-list li a, .tabs-list li a span
{
  _display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
  _di\splay: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}

.tabs-list
{
  _width: 100%; /* Otherwise IE5 treats the ul as floated */
  _w\idth: auto; /* Reset to auto width for IE6 */
}

.datagrid {
  width: 100%;
  border: 1px solid #999;
  border-bottom: 0;
  border-top: 0;
  border-spacing: 0;
}

.datagrid-info {
  border: 1px solid #999;
  border-bottom: 0;
  padding: 5px;
  background: #fc0;
}

.datagrid-action {
  padding: 3px;
  border: 1px solid #999;
}

.datagrid-head {
  background-color: #ccc;
  border-bottom: 1px solid #999;
  padding: 0;
}

.datagrid-head a {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px;
}

.datagrid-head-plain {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px;
  border: 0;
}

.datagrid-content {
  font-size: 1em;
  border-bottom: 1px solid #999;
  padding: 3px;
}

.datagrid-links {
  display: block;
  float: left;
  background: transparent url(media/detail.png) left center no-repeat;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.row-even {
  background: #a3ceff;
}

.row-odd {
  background: #fff;
}

.spacer {
   height: 5px;
}

.block {
  margin-bottom: 10px;
}

.block-title, .content-title {
  font-size: 130%;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #999;
  color: #003380;
}

.block input[type=text],.block select,.block textarea,.block input[type=password] {
  display: block;
  width: 98%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-wrapper {
  border: 1px ridge #999;
  padding: 5px;
}

.form-wrapper .form-element-label {
  font-weight: bold;
}

.form-wrapper .form-element-wrapper input[type=text] {
  width: 98%;
}

.form-wrapper .form-element-wrapper input[type=password] {
  width: 98%;
}

.form-wrapper .form-element-wrapper textarea {
  width: 98%;
}

.form-info {
  font-size: 110%;
  font-style: italic;
  margin-bottom: 7px;
}

.form-element-wrapper {
  margin-bottom: 7px;
}

.container_12 {
  background: #fff url(media/header-bg.png) right top no-repeat;
  border: 1px solid #777;
}

.published {
  color: #003380;
  font-weight: bold;
}

.unpublished {
  color: #f00;
  font-weight: bold;
}

.searchable {
  width: 50%;
}

/* AJAX drop down list */
.ajax-dropdown {
    display: none;
    position: absolute;
    border: 1px solid #727272;
    border-top: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
    list-style-type: none;
    list-style-position: outside;
}

.ajax-dropdown > li {
    margin: 0;
    padding: 0;
}

.ajax-dropdown > li > .ajax-dd-item,.ajax-dd-item:hover {
    display: block;
    padding: 2px;
    text-decoration: none;
}

.ajax-dropdown > li > .ajax-dd-item:hover {
    background-color: #CCCCCC;
}
